body {
  background-color: #282c34;
}
.App {
  max-width: 728px;
  min-width: 728px;
  margin: 0 auto;
}
.Container{
  background-color: white;
  position: relative;
}
.product{
  width: 97%;
  margin: 0 auto;
  padding: 10px 0;
  cursor: pointer;
}
.product-content{
  margin: 20px 0 0 20px;
  min-width: 70%;
  max-width: 500px;
  display: inline-block;
  font-size: 18px;
}
.product .title {
  font-weight: bold;
  font-size: 1.2em;
}
.product .price {
  font-weight: bold;
  font-size: 0.95em;
}
.product .date {
  color: #6668;
  font-size: 0.9em;
}
.product .chat{

}
.product .likes{

}

.plusBtn{
  background-color: coral;
  border: none;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 100px;
  transition: all 0.25s;
  box-shadow: 5px 5px 12px lightgrey;
}

.plusBtn span{
  position: relative;
  bottom: 11px;
  font-size: 50px;
  color: white;
}

.plusBtn:hover{
  background-color: rgba(255, 127, 80, 0.66);
}

.plusBtn:focus{
  background-color: white;
}

.plusBtn:focus span{
  color: coral;

}
