body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.product{
  cursor: pointer;
  display: flex;
  padding: 10px;
}
.product .price {
  font-size: 16px;
  font-weight: 600;
}
.product .title {
  font-size: 17px;
  font-weight: 600;
}
.product .date {
  color: grey;
  font-size: 13px;
}
.product .chat{
  position: relative;
  font-size: 20px;
  color: #999;
  top: 20px;
}
.product .likes{
  position: relative;
  font-size: 20px;
  color: #999;
  top: 20px;
}
