body {
  background-color: #282c34;
}
.App {
  max-width: 728px;
  margin: 0 auto;
}
.Container{
  background-color: white;
}
.product{
  width: 97%;
  margin: 0 auto;
  padding: 10px 0;
  cursor: pointer;
}
.product-content{
  margin: 20px 0 0 20px;
  min-width: 70%;
  max-width: 500px;
  display: inline-block;
  font-size: 18px;
}
.product .title {
  font-weight: bold;
  font-size: 1.2em;
}
.product .price {
  font-weight: bold;
  font-size: 0.95em;
}
.product .date {
  color: #6668;
  font-size: 0.9em;
}
.product .chat{

}
.product .likes{

}
